
.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.card-widget .card-widget-title-wrapper {
  display: flex;
  align-items: center;
}

.card-widget .card-widget-title-wrapper .card-widget-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-primary .card-widget-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-primary .card-widget-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfcfd;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-secondary .card-widget-date-day {
  color: #dde1e9;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-secondary .card-widget-date-month {
  color: #dde1e9;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8faf8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-success .card-widget-date-day {
  color: #17d1bd;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-success .card-widget-date-month {
  color: #17d1bd;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebf7ff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-info .card-widget-date-day {
  color: #36afff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-info .card-widget-date-month {
  color: #36afff;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: floralwhite;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-warning .card-widget-date-day {
  color: #FFC868;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-warning .card-widget-date-month {
  color: #FFC868;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #feeeef;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-danger .card-widget-date-day {
  color: #F95062;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-danger .card-widget-date-month {
  color: #F95062;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fefeff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-light .card-widget-date-day {
  color: #f7f9fa;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-light .card-widget-date-month {
  color: #f7f9fa;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebedee;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-dark .card-widget-date-day {
  color: #394856;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-dark .card-widget-date-month {
  color: #394856;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-date-base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0fafb;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card-widget .card-widget-title-wrapper .card-widget-date-base .card-widget-date-day {
  color: #68CBD7;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.card-widget .card-widget-title-wrapper .card-widget-date-base .card-widget-date-month {
  color: #68CBD7;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-widget .card-widget-title-wrapper .card-widget-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card-widget .card-widget-title-wrapper .card-widget-meeting-info .card-widget-pro-title {
  color: #3c4142;
  font-size: 14px;
}

.card-widget .card-widget-title-wrapper .card-widget-meeting-info .card-widget-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}

.card-widget .card-widget-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: .5rem;
  height: 60px;
  overflow-y: hidden;
}

.card-widget .card-widget-meeting-points .card-widget-meeting-item {
  display: list-item;
  color: #727686;
}

.card-widget .card-widget-meeting-points .card-widget-meeting-item span {
  margin-left: .5rem;
}

.card-widget .card-widget-meeting-action {
  text-align: right;
}

.card-widget .card-widget-meeting-action a {
  text-transform: uppercase;
}

.see-command {
  text-decoration: none;
}

.see-command:hover{
  text-decoration: none;
}