/* https://www.bootdey.com/snippets/view/bs4-command */

.command {
    background: #fff;
    padding: 20px
}

.command-company {
    font-size: 20px
}

.command-header {
    margin: 0 -20px;
    background: #f0f3f4;
    padding: 20px
}

.command-date,
.command-from,
.command-to {
    display: table-cell;
    width: 1%
}

.command-from,
.command-to {
    padding-right: 20px
}

.command-date .date,
.command-from strong,
.command-to strong {
    font-size: 16px;
    font-weight: 600
}

.command-date {
    text-align: right;
    padding-left: 20px
}

.command-price {
    background: #f0f3f4;
    display: table;
    width: 100%
}

.command-price .command-price-left,
.command-price .command-price-right {
    display: table-cell;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    position: relative;
    vertical-align: middle
}

.command-price .command-price-left .sub-price {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px
}

.command-price small {
    font-size: 12px;
    font-weight: 400;
    display: block
}

.command-price .command-price-row {
    display: table;
    float: left
}

.command-price .command-price-right {
    width: 25%;
    background: #2d353c;
    color: #fff;
    font-size: 28px;
    text-align: right;
    vertical-align: bottom;
    font-weight: 300
}

.command-price .command-price-right small {
    display: block;
    opacity: .6;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px
}

.command-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 10px
}

.command-note {
    color: #999;
    margin-top: 80px;
    font-size: 85%
}

.command>div:not(.command-footer) {
    margin-bottom: 20px
}

.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus, .btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus, .btn.btn-white[disabled]:hover {
    color: #2d353c;
    background: #fff;
    border-color: #d9dfe3;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-command-label {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgb(207, 208, 209);
    margin-bottom: 10px;
}

.list-command-line {
    padding: 0;
}

.form-command-line {
    /* border: 1px solid rgb(207, 208, 209);
    border-radius: 10px; */
    padding: 10px 5px;
    margin: 0;
}
.form-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
/* 
.command-line {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: rgb(249, 251, 252);
}
.command-line.title {
    background-color: rgb(185, 186, 187);
    color: aliceblue;
}
.cell-command {
    border: none !important;
} */