/* Styles simples et compatibles Dompdf : utiliser des unités absolues (px) et éviter @font-face externes */
    invoice-container  { 
        font-family: DejaVu Sans, Arial, Helvetica, sans-serif; 
        font-size: 12px; color: #222; margin: 0; padding: 0; 
        background-color: #faf6f6;
    }
    .page { 
        margin: 10px;
        padding: 28px; 
        width: 75%;
        background-color: #ffffff;
    }

    header { 
        display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px; 
    }
    .company { 
        text-align: left; 
    }
    .company .name { 
        font-size: 18px; font-weight: bold; 
    }
    .company small { 
        display: block; margin-top: 6px; 
    }

    .meta { 
        text-align: right; 
    }
    .meta .title { 
        font-size: 16px; font-weight: bold; 
    }
    .meta .ref { 
        margin-top: 6px; 
    }

    .addresses { 
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 18px; 
    }
    .address.right{ 
        width: 30%; 
    }
    .address.left{ 
        width: 60%; 
    }
    .address .label { 
        font-weight: bold; margin-bottom: 6px; 
    }

    table.items { 
        width: 100%; 
        border-collapse: collapse; 
        margin-bottom: 12px; 
    }
    table.items thead th { 
        background: #f2f2f2; 
        padding: 8px; border: 1px solid #e0e0e0; 
        font-size: 12px; 
    }
    table.items tbody td { 
        padding: 8px; border: 1px solid #e9e9e9; 
        vertical-align: top; 
    }

    .right { text-align: right; }
    .center { text-align: center; }

    .totals { width: 40%; margin-left: auto; border-collapse: collapse; }
    .totals td { padding: 6px 8px; }
    .totals .label { text-align: left; }
    .totals .value { text-align: right; font-weight: bold; }

    .notes { margin-top: 16px; font-size: 12px; }

    .payments { margin-top: 18px; }
    table.payments { width: 100%; border-collapse: collapse; }
    table.payments th, table.payments td { padding: 6px; border: 1px solid #e9e9e9; }

    footer { margin-top: 28px; font-size: 11px; color: #666; border-top: 1px solid #eee; padding-top: 8px; }

    .page-break { page-break-after: always; }

    .invoice-footer {
        margin-top: 16px; font-size: 12px;
    }

    .client { 
        text-align: right; 
    }
    .client .title { 
        font-size: 16px; font-weight: bold; 
    }
    .client .ref { 
        /* margin-top: 6px;  */
    }
    .client .name { 
        font-size: 18px; font-weight: bold; 
    }
    .client small { 
        display: block; margin-top: 6px; 
    }
    .signature{
        margin: 40px 0 60px 100px;
    }
    img.logo {
        width: 70px;
    }

    small {
        font-size: 85% !important;
    }
