.sidebar {
    height: 100%;
    background-color: #f8f9fa;
}

.content {
    height: calc(100vh - 75px);
    overflow-y: auto;
    overflow-x: hidden;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.wp-main-sidebar {
    height: 100%;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
}

.sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
    color: #fff;
}

.sidebar-brand:hover{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .06rem;
    color: #e9e4e4;
}

.accordion {
    overflow-anchor: none;
}


.sidebar .nav-item .nav-link span {
    font-size: .85rem;
    display: inline;
}

.sidebar .nav-item .nav-link span:hover {
    color: #fff;
}

.sidebar-heading {
    color: rgba(255, 255, 255, .4);
    text-align: left;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;
    text-transform: uppercase !important;
}

hr.sidebar-divider {
    margin: 0 1rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, .15);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

.nav-item {
    position: relative;
    list-style-type: none;
}

.nav-item.active .nav-link {
    color: #fff;
    font-weight: 700;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .8);
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}

.nav-item .nav-link i {
    color: rgba(255, 255, 255, .3);
    font-size: .85rem 13.6px;
    margin-right: .25rem;
}

.nav-item .nav-link i:hover {
    color: #fff;
}

.nav-item.active .nav-link i {
    color: #fff;
}

.navbar-search {
    width: 25rem;
}

.navbar-search input {
    font-size: .85rem;
    height: auto;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.header.toolbar {
    height: 4.375rem;
}

#btn-search {
    background-color: #f8f9fc !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.user-section {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.initial-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin: 4px 6px;
    background-color: #224abe;
    cursor: pointer;
}

.username-connected {
    color: #858796 !important;
    cursor: pointer;
}

.form-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-content form {
    width: 80%;
}
.bg-white {
    background-color: #ffffff !important;
}