{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg border-0">
                <div class="card-header py-3" style="background-color: #3f6ad8;">
                    <h5 class="text-white mb-0 text-center">
                        <i class="bi bi-person-plus-fill me-2"></i>Gestion de presence
                    </h5>
                </div>
                
                <div class="card-body p-4">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <label class="form-label small fw-bold">Selectionner un employé</label>
                                <select name="employee_id" class="form-select">
                                {% for emp in employee %}
                                    <option value="{{ emp.id }}">{{ emp.name }} {{ emp.first_name }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <div class="col-md">
                                <label class="form-label small fw-bold">Status</label>
                                <select id="select_status" name="status" class="form-select" onclick="toggleInput()">
                                    <option value="Confirmé">Confirmé</option>
                                    <option value="Absent">Absent</option>
                                    <option value="Retard">Retard</option>
                                </select>
                            </div>
                        </div>

                        <div id="id_heure_retard" class="mb-3">
                            <label class="form-label small fw-bold">Heure de retard</label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i class="bi bi-envelope"></i></span>
                                <input type="time" name="heure_retard" class="form-control">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label small fw-bold">Date de Travail</label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i class="bi bi-envelope"></i></span>
                                <input type="date" name="date_work" class="form-control" required>
                            </div>
                        </div>

                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <label class="form-label small fw-bold">Heure de début</label>
                                <input type="time" name="start_time" class="form-control" required>
                            </div>
                            <div class="col-md">
                                <label class="form-label small fw-bold">Heure de fin</label>
                                <input type="time" name="end_time" class="form-control" required>
                            </div>
                        </div>

                        <div class="row g-2 mb-3">
                            
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary shadow-sm" style="background-color: #3f6ad8; border: none;">
                                <i class="bi bi-check-circle me-2"></i>Soummetre
                            </button>
                            <a href="" class="btn btn-light btn-sm text-muted">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function toggleInput() {
    var select = document.getElementById("select_status");
    var extraField = document.getElementById("id_heure_retard");
    
    if (select.value == "Retard") {
        extraField.style.display = "block";
    } else {
        extraField.style.display = "none";
    }
}
</script>

{% endblock %}