{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">Liste des Employés</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Nom & Prénom</th>
                            <th>Contact</th>
                            <th>Poste / Dpt</th>
                            <th>Salaire</th>
                            <th>Embauche</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>
                                <strong>{{ employee.name.upper }}</strong><br>
                                <small class="text-muted">{{ employee.first_name }}</small>
                            </td>
                            <td>
                                <i class="bi bi-envelope"></i> {{ employee.email }}<br>
                                <small>{{ employee.phone }}</small>
                            </td>
                            <td>
                                <span class="badge btn-outline-primary text-primary border border-primary">{{ employee.poste }}</span><br>
                                <small class="fw-bold">{{ employee.departement.name_departement }}</small>
                            </td>
                            <td class="text-success fw-bold">{{ employee.salary }} Ar</td>
                            <td>{{ employee.date_embauche|date:"d M Y" }}</td>
                            <td class="text-center">
                                <a href="informations_employer/{{employee.id}}" class="btn btn-sm btn-info text-white">
                                    <i class="bi bi-eye"></i> Informations
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}