{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">Liste de demandes de conger</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Nom & Prénom</th>
                            <th>Date de debut</th>
                            <th>Date de fin</th>
                            <th>Total de jours</th>
                            <th>Types</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conges in demande_conges %}
                        <tr>
                            <td>
                                <strong>{{ conges.employee.name.upper }}</strong><br>
                                <small class="text-muted">{{ conges.employee.first_name }}</small>
                            </td>
                            <td>
                                <small>{{ conges.date_debut }}</small>
                            </td>
                            <td>
                                <small class="fw-bold">{{ conges.date_fin }}</small>
                            </td>
                            <td class="text-success fw-bold">{{ conges.total_day }}</td>
                            <td><strong>{{ conges.typeconge.name_conge }}</strong></td>
                            <td>{{ conges.status }}</td>
                            <td class="text-center">
                                <a href="" class="btn btn-sm btn-outline-info text-black">
                                    <i class="bi bi-eye"></i>Modifier
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}